.topBg {
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
  width: 750px;
  height: 350px;
  // background-color: #ef8784;
  background: url("../../../images/topBg.jpg") no-repeat;
  background-size: 100%;
}
